extends ../layout 

block content
    .container
        .row
            .col-sm-12
                .page-header 
                    h2 清算问题
                    p 2017-10-30
                h3 1.平仓清算后资金何时返还账户余额？
                p  一般清算完后马上会到账户余额里，但是难免出现异常数据时，为了保证成交数据的正确性，我们会人工核实一遍数据，会造成清算时间一定的延迟
                h3 2.若清算时出现明显差错怎么办？
                p 若由于系统、接口等问题造成清算出错，我们会在核实数据后对用户该笔交易做资金修正。