extends ../layout

block content 
    .container-fluid 
        .row 
            .play_content
                img.base.center-block(src="http://policy.51tongcai.com/client/img/help.jpg", alt="", srcset="", width="100%")
                a(href="stategyaction://createStategy")
                    img.center-block(src="http://policy.51tongcai.com/client/img/goto-bg.png", alt="",)