extends ../layout 

block content
    .container 
        .row 
            .col-sm-12
                .page-header 
                    h2 A股交易规则
                    p 2017-10-19
                h3 什么是策略人，什么是投资人
                p 策略人是指策略创建人，通过平台发布股票买卖策略，如选择买什么股票，买多少股，止盈点是多少，止损点是多少，何时买入，何时卖出；投资人是实际购买股票的自然人或者法人，投资人提供资金，证券账号，自由选择平台上的股票策略，根据实际情况匹配，并严格按照策略要求买卖股票。
                h3 什么是共享策略？
                p 共享策略是本平台通过策略人发起股票策略（选择股票，选择购买数量，设置止盈止损），平台收集这些策略后转发给所有投资人，投资人自己选择是否匹配，如匹配成功，则策略人与投资人生成一个协议，投资人按策略人的策略要求执行买入股票操作，如盈利，按一定比例分成，如亏损，按一定比例各自承担！
                h3 交易时间是什么时候？
                p 持仓时间：分为T＋1持仓与T＋D持仓。T＋1持仓，交易品种持仓时间固定截至T＋1日，即当日买入，与下个交易日的创建策略时相对应的买入时点默认卖出（如T日10:00买入，到时为T+1日10:00）；T＋D持仓，从T＋1日开始，策略人可于00:00-14:55时间段内，向投资人申请将交易品种持仓时间递延至下一交易日，递延按日申请逐日递延，最长持仓时间为T+6日。
                h3 什么是止盈？
                p 止盈是该条策略的盈利线，当达到预设的止盈点的时候，系统会自动发起卖出指令给投资人。
                h3 什么是止损？
                p 止损是该条策略的亏损线，当达到预设的止损点的时候，系统会自动发起卖出指令给投资人。
                h3 什么是交易综合费
                p 交易综合费包含本金使用费和平台服务费等。
                h3 什么是履约保证金？
                p 履约保证金为策略人委托平台冻结用于履行交易亏损赔付义务的保证金，结束时根据策略盈亏清算。保证金越低风险也越大，保证金越高抗风险也越高。
                h3 什么是递延费？
                p 策略人想在最后持仓日继续持有策略，可申请递延至下一交易日，策略人申请递延成功后，平台即扣除相应的递延费用。递延费包含平台信息服务费和平台收取用于补偿投资人的资金占用费。
                h3 停牌股要怎么处理？
                p 当发生停牌，待复牌的首个交易日，由投资人市价卖出，按实际卖出成交价计算盈亏分配。
                h3 盈亏怎么结算？
                p 如策略盈利，策略人获得盈利部分的90%；如策略亏损，策略人按实际亏损情况使履约保证金为赔付上限。如有超额亏损，超出保证金部分由投资人自己承担。
                p 例：盈利1000元，策略人获利1000*90%=900元。
                h3 买入，卖出时出现部分成交后怎么结算？
                p 买入时因行情波动原因，无法全部按策略的数量买入时，以实际买入数量为准；卖出时因行情波动原因，无法全部卖出，需等到全部卖出后方可清算
